/* common.css */

@font-face{font-family: 'Jeju Gothic', sans-serif;
  src: url('https://fonts.googleapis.com/earlyaccess/jejugothic.css') format('css'); font-weight: normal; font-style: normal;}
* {
  margin: 0; padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul { list-style-type: none;}
html, body {
  height: 100%;
}
body {
  color: #222;
  /* font-family: 'Belleza', sans-serif; */
  /* font-family: 'Jeju Gothic', sans-serif; */
    font-family: 'Noto Sans KR', sans-serif;
  line-height: 1.8;
  font-size: 100%;
  /* min-width: 100%; */
  min-width: 1200px;
}
h1, h2, h3, h4 {
  font-family: 'Jeju Gothic', sans-serif;
  margin-bottom: 20px;
}
.title h2 { font-family: 'Jeju Gothic', sans-serif; }
h2 { font-size: 32px;}
ins{ text-decoration: none;}
button { 
  background: none;
  border: none;
  outline: none;
}
section {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
/* .container{
  width: 1200px;
  outline: 1px solid salmon;
  margin: 0 auto;
  overflow: hidden;
} */

.left{
  float: left;
}
.right{
  float: right;
  position: relative;
}

header {
  position: absolute;
  color: #444;
  width: 100%;  
  font-weight: bold;

}

#title {
  height: 100%;
  /* background-image: url("../images/title_bg.jpg"); */
  background: #f8fae2;
  background-size: cover;
  background-position: center;
  color: #222;
  /* text-shadow: 1px 1px 6px #444; */
  margin-bottom: 50px;
}
#title .container{
  position: static;
}
#title .title {
  /* outline: 1px solid red; */
  position: absolute;
  width: 80%;
  left: 50%; top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
#title .title > h2 {
  font-size: 80px;
  margin-bottom: 0px;
}
#event .title > h2 {
  font-size: 32px;
  margin-bottom: 20px;
}
#title .title > p,
#event .title > p {
  font-size: 18px;
  margin-bottom: 40px;
  letter-spacing: 1px;
}
.cta {
  width: 140px; height: 50px;
  background: #222222;
  font-size: 16px;
  line-height: 50px;
  display: inline-block;
  border-radius: 4px;
  transition: .4s;
  color: #fff;
}
.cta:hover {
  background: rgba(34,34,34, 0.9);
}
.bx-wrapper {
  border: none;
}
#about{
  margin: 100px 0;
}
#about .container{
  /* 소개글 좌우 여백을 두어 집중하게 배치 */
  /* padding-left: 10%; */
  /* padding-right: 10%; */
  text-align: left;
  font-size: 18px;
}

#about h3{
  font-size: xx-large;
  margin-top: 30px;

}

#about #dy_icon{
  width: 250px;
  height: auto;
  background: #c7d062;
  padding: 30px;
  border-radius: 50%;
  margin-top: 50px;
}

#about .left{
  float: left;
  width: 30%;
  text-align: center;
  /* padding-left: 30px; */
  margin-left: -10px;
}
#about .left p{
  padding-top: 10px;
  /* padding-left: 30px;
  text-align: center; */

}
#about .left span{
  font-weight: bold;
  font-size: x-large;
}
#about .right{
  float: right;
  width: 70%;
  padding-right: 30px;
}

/* skill */
#skill{
  clear: both;
  text-align: left;
}
#skill .container{
  width: 1000px;
  margin: 0 auto;
}
#skill .left{
  padding-left: 30px;
  width: 48%;
}
/* #skill .left img{
  margin-bottom: 30px;
} */
#skill .left .circle {
  width: 100px;
  margin: 6px 6px 20px;
  display: inline-block;
  position: relative;
  text-align: center;
  line-height: 1.2;
}
/* 
#skill .left span{
  position: absolute;
    top: 180px;
    margin-left: -100px;
    text-align: center;
    width: 100px;
} */
#skill .left span:nth-of-type(3),
#skill .left span:nth-of-type(4),
#skill .left span:nth-of-type(5){
  top: 318px;
}
#skill .right{
  padding-right: 30px;
  width: 52%;
  margin-top: 10px;
}
#skill .right h2:last-of-type{
  margin-top: 30px;
}

/* web */
.btn {
  position: absolute;
  right: 0;
    margin-top: 10px;
  display: inline-block;
  background: transparent;
  font-weight: 500px;
  font-style: normal;
  letter-spacing: 0.3em;
  border-radius: 10px;
  padding: 10px 40px;
  transition: all 0.7s ease-out;
  /* background: linear-gradient(270deg, #ce872467, #ce872498, #ce872400, #ce872400); */
  background: linear-gradient(270deg, #c7d062, #c7d062, #c7d0623b, #c7d06200);
  background-position: 1% 50%;
  background-size: 300% 300%;
  /* margin: 0.625rem; */
  /* border: none; */
  border: 1px solid #222;
}

.btn:hover {
  color: #fff;
  border: 1px solid #c7d06200;
  /* color: $white; */
  background-position: 99% 50%;
}

#section4 .container{
  width: 1400px;
}
#web1, #web2, #web3, #web4{
  width: 780px;
    margin: 0 auto;
    position: relative;
    margin-top: 50px;
}
.web_img{
  width: 703px;
  height: 396px;
  position: absolute;
  top: 41px;
  left: calc(50% - 351px);
  z-index: -1;
  overflow: hidden;
}
.app_img{
  position: absolute;
  overflow: hidden;
  width: 232px;
  height: 413px;
  top: 112px;
  left: calc(50% - 116px);
}
.web_img img{
  width: 704px;
  transition: all 3s;
  transition-timing-function: ease;
}
.app_img img{
  width: 232px;
  height: auto;
  transition: all 3s;
  transition-timing-function: ease;
}

#web1:hover  .web_img img{
  transition: all 5s;
  transition-timing-function:ease;
  transform:translate(0,-900px);
}
#app1:hover  .app_img img{
  transition: all 8s;
  transition-timing-function:ease;
  transform:translate(0,-1230px);
}

.hover_circle{
  position: absolute;
  top: 348px;
    left: 651px;
  color: #fff;
  width: 80px;
  height: 80px;
  text-align: center;
  font-size: 12px;
  box-sizing: border-box;
  padding: 20px 0;
  border-radius: 50%;
  opacity: 1;
}
#section5 .hover_circle{
  top: 437px;
  left: 418px;
  z-index: 99;
}
#web1 .hover_circle{
  background: #0e347e;
}
#web2 .hover_circle{
  background: #47a0dc;
}
#web3 .hover_circle{
  background: #cd2027;
}
#web4 .hover_circle{
  background: #cc071e;
}
#app1 .hover_circle{
  background: #cc071e;
}

#app1:hover .hover_circle,
#web1:hover .hover_circle,
#web2:hover .hover_circle,
#web3:hover .hover_circle,
#web4:hover .hover_circle{
  transition: .4s;
  opacity: 0;
}
.web_info{
  width: 1000px;
  margin: 0 auto;
  padding: 30px 0;
  overflow: hidden;
}
#section4 ul{
  display: table;
  text-align: left;
  float: left;
}
#section4 .left{
  width: 40%;
}
#section4 .right{
  width: 60%;
}
#section4 .right li{
  margin-top: 80px;
}
#section4 ul li strong{
  width: 100px;
  display: table-cell;
  padding-bottom: 10px;
  padding-right: 20px;
}
#section4 ul li span{
  /* width: 400px; */
  display: table-cell;
}

.web1 .left li:last-of-type span i:first-of-type{
  background: #0e347e;
}
.web1 .left li:last-of-type span i:last-of-type{
  background: #ffe600;
}
.web2 .left li:last-of-type span i:first-of-type{
  background: #47a0dc;
}
.web2 .left li:last-of-type span i:last-of-type{
  background: #fac545;
}
.web3 .left li:last-of-type span i:first-of-type{
  background: #cd2027;
}
.web3 .left li:last-of-type span i:last-of-type{
  background: #000;
}
.web4 .left li:last-of-type span i:first-of-type{
  background: #cc071e;
}
.web4 .left li:last-of-type span i:last-of-type{
  background: #222;
  /* display: none; */
}
#section4 .left li:last-of-type span i{
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  text-indent: -9999px;
  margin-right: 7px;
  transform: translateY(5px);
}

#web2:hover  .web_img img{
  transition: all 4s;
  transition-timing-function:ease;
  transform:translate(0,-540px);
}

#web3:hover  .web_img img{
  transition: all 3s;
  transition-timing-function:ease;
  transform:translate(0,-392px);
}

#web4:hover  .web_img img{
  transition: all 5s;
  transition-timing-function:ease;
  transform:translate(0,-882px);
}

/* app */
#app1{
  position: relative;
  overflow: hidden;
  width: 780px;
  margin: 0 auto;
}
#app1>img{
  width: 780px;
}

#main_footer{
  padding: 70px 0;
  color: #444;
  background: #e4e4e4;
  text-align: center;
  font-size: smaller;
  font-weight: bold;
}
#main_footer .info{
  /* min-width: 578px; */
  font-weight: normal;
  font-size: small;
}
#main_footer .sns_list{
  margin: 30px;
}
#main_footer .sns_list li{
  display: inline-block;
  margin: 0 15px;
}

#main_footer #f_logo{
  height: 30px;
  margin-bottom: 30px;
}